html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;

  .title {
    align-self: center;
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
  }

  .table {
    flex: 1;
    padding: 0 12px;
  }

  .box-wrapper {
    flex: 1;
    padding: 12px;
    display: flex;
    column-gap: 12px;

    .box {
      flex: 1;
      height: 100%;
      background: #fdfdfd;
      padding: 12px;
      border: solid 1px #eee;
      border-radius: 4px;

      &.grid-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 12px;

        .grid-item {
          background: gray;
          &:hover{
            animation: color-change 3s infinite;
          }
        }
      }

      &.operate {
        > a {
          text-underline-style: none;
          color: #3a8ee6;
          cursor: pointer;

          &:hover {
            color: #054f9b;
          }

          &:active {
            color: #c45656;
            font-weight: bold;
          }

          + a {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .bottom {
    align-self: flex-end;
    padding: 12px;
  }
}

@keyframes color-change {
  0% {
    background-color: red;
    border-radius: 0;
  }
  50% {
    background: green;
    border-radius: 20px;
  }
  75% {
    background-color: yellow;
    border-radius: 15px;
  }
  100% {
    background-color: red;
    border-radius: 0;
  }
}